@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');


/***  GLOBAL ***/
body{
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;
  color: rgb(106, 138, 160);
  padding: 3vw;
  margin: 0px;
  background-color: rgb(241, 242, 243);
  border: rgb(106, 138, 160) 4vw solid;
  height: 77.6vh;
}
h1{
  font-size: 100px;
}
/*** START PAGE ***/
.slideA{
  position: absolute;
  align-self: center;
  top: 33%;
  opacity: 0;
  font-size: 30px;
  animation-name: fadeInOut;
  animation-duration: 3s;
}
.slideB{
  opacity: 0;
  position: absolute;
  top: 33%;
  align-self: center;
  font-size: 50px;
  font-weight: 700;
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-delay: 3s;
}
.slideC{
  opacity: 0;
  position:absolute;
  align-self:center;
  width: 70vw;
  top: 34%;
  font-size: 25px;
  font-weight: 600;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
@keyframes fadeInOut {
  0% {opacity: 0;}
  70% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
#measure{
  border-radius: 2px;
  background:rgba(0,0,0,0);
  border: 10px solid rgb(106, 138, 160);
  padding: 8px 16px;
  color: rgb(106, 138, 160);
  margin: auto;
  align-self: center;
  width:150px;
  font-size: 14px;
}
#measure:hover, #measure:focus{
  background: rgb(106, 138, 160);
  color: rgb(241, 242, 243);
  outline:none;
  cursor: pointer;
}
div{
  margin: auto;
}
/***  LOADING PAGE  ***/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(106, 138, 160); /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
.loader-text{
  position: absolute;
  top: 65%;
  align-self: center;
  margin: auto;
}
.loader-text:after{
  content: "M e a s u r i n g";
  font-weight: bold;
  font-size: 20px;
  opacity: 0;
  animation: loading-text 3s infinite;
  animation-delay: 7s;
}
@keyframes loading-text{
  0% {content: "M"}
  0% {opacity: 1}
  10%{content: "M e"}
  20%{content: "M e a"}
  30%{content: "M e a s"}
  40%{content: "M e a s u"}
  50%{content: "M e a s u r "}
  60%{content: "M e a s u r i "}
  70%{content: "M e a s u r i n "}
  80%{content: "M e a s u r i n g "}
  90%{content: "M e a s u r i n g ."}
  100%{content: "M e a s u r i n g . . "}
  100%{opacity: 1}
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*** CALIBRATION PAGE ***/
.calibration{
  position: absolute;
  top: 25%;
  align-self: center;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  animation: disappear 1s forwards;
  animation-delay: 7s;
}
.calibration-counter{
  font-size: 20px;
  position: absolute;
  top: 65%;
  align-self: center;
  margin: auto;
}
.calibration-counter:after{
  content: "5";
  font-weight: bold;
  font-size: 20px;
  animation: counter 5s ;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes disappear{
  0% {opacity: 0}
  100% {opacity: 0}
}
@keyframes counter{
  0% {content: "5"}
  20% {content: "4"}
  40% {content: "3"}
  60% {content: "2"}
  80% {content: "1"}
  99% {content: "1"}
  99% {opacity: 1}
  100% {opacity: 0}
}
/*** VISUALIZATION PAGE ***/
.results{
  height: 80%;
}
img{
  width: auto;
  height: 400px;
}
#person{
  position: absolute;
  left: 22vw;
  top: 35%;
}
#graph{
  position: absolute;
  right: 10vw;
  top: 18%;
}
#degreeInfo{
  position: absolute;
  top: 40%;
  left: 20%;
  color: rgb(204, 72, 72);
  font-weight: 600;
  width: 200px;
}
svg{
  position: absolute;
  top: 50%;
  left: 20%;
}
.he{
  padding-left: 50px;
  font-size: 50px;
}
.restart{
  position: fixed;
  top: 80px;
  right: 80px;
  font-weight: 600;
}
.restart:hover{
  color: rgb(204, 72, 72);
  cursor: pointer;
  font-style: italic;
}
#textInfo{
  font-size: 25px;
  width: 450px;
  font-weight: 600;
  position: absolute;
  top: 25vh;
  left: 48vw;
}
